<!DOCTYPE html>
<html>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<head>
    <h1> {{room}} -DJ chat for {{username}}</h1>
</head>

<body>

<h2>{{room}} - DjChat</h2>
<div id="display">
    <div class="container darker">
      <b>{{username}}</b><p>Hello Everyone, How Are You Guys Doing?</p>
      <span class="time-left">20th, April 2021</span>
    </div>
</div>

<!--to load previous messages-->
<script>
var room_name = '{{ room }}';
console.log("value is", "{{room}}");
var ajax_url = "{% url 'firstapp:getHistorynamespace' room_value='temp' %}".replace('temp', room_name);
console.log("ajax",ajax_url);
$(document).ready(function(){
setInterval(function(){
    $.ajax({
        type: 'GET',
        //url : "/getHistory/{{room}}/", //this will work without name space
        url : ajax_url,
        success: function(response){
            console.log("response",response);
            const inputValue = document.getElementById("username").value;
            console.log(inputValue);
            console.log("printed");
            $("#display").empty();
            for (var key in response.messages)
            {
                if (inputValue == response.messages[key].user){
                    var temp="<div style='text-align:right'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
                else{
                    var temp="<div><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>

<div>
    <form id="post-form">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{username}}"/>
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
        <input type="text" name="message" id="message" width="100px" />
        <input type="submit" value="Send">
    </form>
</div>

</body>
<script type="text/javascript">
var send_url ="{% url 'firstapp:chatsendnamespace' %}";
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      //url:'/chatsend',
      url:send_url,
      data:{
          username:$('#username').val(),
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>
</html>