{%extends 'base.html' %} <!--inheriting the code from base.html file-->
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px;margin-left:20px">
    <div class="col-8">
        <h2>Available Items</h2>
        <p>Click on one of the items</p>
        <table class=" table table-dark"> <!--to highlight the table we need this class-->
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">name</th>
                <th scope="col">barcode</th>
                <th scope="col">price</th>
                <th scope="col">options</th>
            </tr>
            </thead>
            <tbody>
            <!--JINJA code for looping-->
            {%for item in items%}
            {% include 'includes/items_modals.html' %} <!--importing/including here for creating unique instance-->
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.barcode}}</td>
                <td>{{item.price}}/-</td>
                <td>
                    <!-- data-target="moreInfo-{{item.id}}" will comes from included modal html file id value-->
                    <!--# symbol is mandatory for data-target value-->
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#moreInfo-{{item.id}}">
                        More Info
                    </button>
                    <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#purchaseItem-{{item.id}}">Purchase
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Purchased Items</h2>
        <p>Click on button to sell the item</p>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_item_modal.html' %}
                <div class="col-md-6">
                    <div style="margin-bottom:5px" class="card text-center bg-dark">
                        <div class="card-body">
                            <h5 class="card-title"> {{ owned_item.name }}</h5>
                            <button type="button" class="btn btn-outline-danger " style="margin-bottom: 5px" data-toggle="modal"
                                    data-target="#sellingItem-{{owned_item.id}}">
                                Sell this item
                            </button>
                            <p class="card-text"><strong>This item costs {{owned_item.price}}</strong></p>

                        </div>

                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}