{% extends 'base.html'%}

{%block title %}
Login Page
{% endblock %}

{%block content%}
<body class="text-container">
<div class="container"> <!-- to make the form in center using the container-->
    <h1>Please Login</h1>
    <form method="POST" class="form-register" style="color:white">
        <br>
        {{form.hidden_tag()}} <!-- to avoid security leakage of details -->
        {{form.email.label()}}
        {{form.email(placeholder="email address")}} <!-- form-control will control the size of holder-->
        {{form.password.label()}}
        {{form.password(class="form-control",placeholder="Password")}}
        <br> <!-- line break space-->

        <div class="check-box mb-3">
            <h1>No account?</h1>
            <a class="btn btn-sm btn-secondary" href="{{url_for('register_page')}}">Register</a>
        </div>
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
        <!-- btn-lg  will be used for large size of button font-->
        <!-- btn-block will make button size to block size-->
        <!--btn-primary for blue color-->
    </form>
</div>
</body>
{% endblock %}